DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="changeme"
NEXTAUTH_URL="http://localhost:3000"
REQUESTS_PER_IP_PER_HOUR=20
LITE_MODE_COOKIE_NAME="supporthaiti_lite"
LANG_COOKIE_NAME="supporthaiti_lang"
NEXT_PUBLIC_LITE_COOKIE="supporthaiti_lite"
NEXT_PUBLIC_LANG_COOKIE="supporthaiti_lang"
